Repository maravimaq/puchero-hub, pull requests merged in 2024-12, with the labels that each got.

#58 Feat(community): Added load tests with locust #28
  app/modules/community/tests/test_locust.py
Labels: test

#60 Fix/fix/pack datasets no uploads
  app/modules/dataset/services.py
  app/modules/dataset/tests/test_unit.py
  docs/bugs_solution/community.md
  docs/bugs_solution/download_all_datasets.md
Labels: bug

#61 Feature/download all
  app/modules/dataset/tests/test_unit.py
Labels: test

#64 Feature/automatization
  docs/automatization/install_dependencies_script.md
  docs/automatization/uninstall_unnecesary_dependencies_script.md
  scripts/install_dependencies.sh
  scripts/uninstall_unused_dependencies.sh
Labels: enhancement

#65 Feat(workflow): Added documentation for Zenhub workflow
  docs/workflows/zenhub_workflow.md
Labels: documentation

#70 Feature/add docs
  docs/Selenium_in_Docker.md
  docs/policies/branch_policies.md
  docs/policies/commit_policies.md
Labels: documentation

#86 feat(wi_profile_tests): new unitary tests for wi #36
  app/modules/profile/tests/test_wi_profile_unit.py
Labels: test

#87 Fix/communities locust tests
  app/modules/community/tests/locustfile.py
  app/modules/community/tests/test_locust.py
  coverage.svg
  docs/bugs_solution/community_locust_tests.md
Labels: bug, documentation

#90 feat(wi_profile_tests): new unitary test #36
  app/modules/profile/tests/test_wi_profile_unit.py
Labels: test

#91 feat(wi_profile_tests): new unitary test #36
  app/modules/profile/tests/test_wi_profile_unit.py
Labels: test

#94 Docs/policy documents
  docs/acta_fundacional.md
Labels: documentation

#96 Feature/profile wi tests
  app/__init__.py
  app/modules/profile/forms.py
  app/modules/profile/routes.py
  app/modules/profile/services.py
  app/modules/profile/tests/test_integration.py
  app/modules/profile/tests/test_unit.py
  app/modules/profile/tests/test_wi_profile_unit.py
Labels: test

#98 Feature/profile wi tests
  app/modules/profile/tests/test_integration.py
  app/modules/profile/tests/test_selenium.py
Labels: test

#113 test(profile): Locust tests #112
  app/modules/profile/tests/locustfile.py
Labels: test

#115 feature(workflow): new worflow for performance analysis
  .github/workflows/performance_analysis.yml
Labels: enhancement, workflow

#118 Feature/performance workflow
  .github/workflows/performance_analysis.yml
Labels: bug, workflow

#120 fix(workflow): fixing performance analysis workflow #119
  .github/workflows/performance_analysis.yml
Labels: bug, workflow

#121 Feature/performance workflow
  .github/workflows/performance_analysis.yml
  docs/contributor_performance.md
Labels: bug, workflow

#122 Feature/performance workflow
  .github/workflows/performance_analysis.yml
Labels: bug, workflow

#123 fix(workflow): fixing performance analysis workflow #119
  .github/workflows/performance_analysis.yml
Labels: bug, workflow

#124 Feature/performance workflow
  .github/workflows/performance_analysis.yml
  docs/contributor_performance.md
Labels: bug, workflow

#126 Feature/performance workflow
  .github/workflows/performance_analysis.yml
  docs/contributor_performance.md
Labels: bug, workflow

#127 Feature/performance workflow
  .github/workflows/performance_analysis.yml
  docs/contributor_performance.md
Labels: bug, workflow

#128 Docs/performance workflow
  .github/workflows/performance_analysis.yml
  docs/workflows/performance_analysis.md
Labels: documentation, workflow

#129 docs(performance_workflow): document for performance analysis workflo…
  docs/workflows/performance_analysis.md
Labels: documentation, workflow

#133 Fix/selenium tests
  app/modules/community/tests/test_selenium.py
  app/modules/dataset/tests/test_selenium.py
Labels: bug

#136 fix(workflow): fixing performance analysis workflow #119
  .github/workflows/performance_analysis.yml
  docs/workflows/performance_analysis.md
Labels: bug, workflow

#137 fix(workflow): fixing performance analysis workflow #119
  .github/workflows/performance_analysis.yml
  docs/contributor_performance.md
Labels: bug, workflow

#142 fix(workflow): fixing performance analysis workflow #141
  .github/workflows/performance_analysis.yml
Labels: bug, workflow

#143 fix(workflow): fixing performance analysis workflow #141
  .github/workflows/performance_analysis.yml
Labels: bug, workflow

#144 Fix/performance workflow
  .github/workflows/performance_analysis.yml
  docs/workflows/performance_analysis.md
Labels: bug, workflow

#145 Fix/performance workflow
  .github/workflows/performance_analysis.yml
Labels: bug, workflow

#147 Fix/performance workflow
  .github/workflows/performance_analysis.yml
  docs/workflows/performance_analysis.md
Labels: bug, documentation, workflow

#148 Fix/performance workflow
  .github/workflows/performance_analysis.yml
  docs/contributor_performance.md
Labels: bug, workflow

#149 Feature/add docs
  docs/Diario del Equipo.md
  docs/Documento del Proyecto.md
Labels: documentation

#150 docs(project_document): Modified members metrics
  docs/Documento del Proyecto.md
Labels: documentation

#151 fix(workflow): fixing performance analysis workflow #141
  .github/workflows/performance_analysis.yml
  app.log.1
  app.log.2
Labels: bug, workflow

#153 fix(app): fixing csrf error #152
  app/__init__.py
Labels: bug

#155 Test(Advance_Filtering):Added test_selenium_explore.py #154
  app/modules/explore/tests/test_integration.py
  app/modules/explore/tests/test_selenium.py
  app/modules/explore/tests/test_unit.py
Labels: test

#161 Docs(Proyect Documentation): Small update #160
  docs/Documento del Proyecto.md
Labels: documentation

#164 docs(project_document): final update of the project document #163
  docs/Documento del Proyecto.md
Labels: documentation

#166 Fix(Explore):Change Author to User #165
  app/modules/explore/forms.py
Labels: enhancement

#167 docs(explore): change has been documented #165
  docs/changes_history/changes_document.md
Labels: documentation
